bin/
Debug/
*.o

# Automake bonkers stuff

## http://www.gnu.org/software/automake
Makefile
src/Makefile
src/Makefile.in
src/.deps/
src/iggigame
Makefile.in

## http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
